@font-face {
    font-family: "Nanum Gothic";
    src: url('./fonts/NanumGothic.eot');
    src: url('./fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), url('./fonts/NanumGothic.woff') format('woff'), url('./fonts/NanumGothic.ttf') format('truetype');
    url('./fonts/NanumGothic.svg#NanumGothic') format('svg') src:local(※), url('./fonts/NanumGothic.woff') format('woff');
}

@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../fonts/NanumSquareR.eot);
 src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../fonts/NanumSquareB.eot);
 src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareB.woff) format('woff'),
      url(../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../fonts/NanumSquareEB.eot);
 src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareEB.woff) format('woff'),
      url(../fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../fonts/NanumSquareL.eot);
 src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareL.woff) format('woff'),
      url(../fonts/NanumSquareL.ttf) format('truetype');
}


body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Nanum Gothic", "Malgun Gothic", Arial;
}


/*-------------------------------------------------------------------*/
/* 글꼴*/
/*-------------------------------------------------------------------*/

  .navbar-default .navbar-nav > li > a {
    font-family: "Nanum Gothic", "Malgun Gothic", Arial;
  }

.panel-heading {
  font-family: "Nanum Gothic", "Malgun Gothic", Arial;
}




/*-------------------------------------------------------------------*/
/* Common*/
/*-------------------------------------------------------------------*/

.fix-box .title-logo.custom-title-logo {
    line-height:1em;
}


.profile-header.custom-front_01-profile-header {
    background-position-x: center;
}

.button.button-tiny {
    font-size: 1em;
}


.alert.alert-border.single-line {
    padding-top: 8px;
    padding-bottom: 8px;
}






/*-------------------------------------------------------------------*/
/* Navbar */
/*-------------------------------------------------------------------*/




/*-------------------------------------------------------------------*/
/* Header full */
/*-------------------------------------------------------------------*/
.header-full-title h1 {
  word-spacing:-1px;
  font-size: 22px;
  font-family: "Nanum Gothic", "Malgun Gothic", Arial;
}


.header-full-title p {
  font-size: 1em;
  text-align: left;
}


.header-full-icons .icon-ar.icon-ar-white.icon-ar-inverse {
  border-width: 1.5px;
}


/*-------------------------------------------------------------------*/
/* Header Small */
/*-------------------------------------------------------------------*/

.navbar-default .navbar-brand {
    text-transform:inherit;
}

.navbar-inverse .navbar-brand {
  background-image: url("../../Content_Custom/img/logo_white.png");
}

@media (max-width: 767px) and (min-width: 411px) {
  .navbar-default .navbar-brand {
    font-size: 1.5em;
    word-spacing: -2px;
    background-image: none;
    margin-left: 20px !important;
  }
}

@media (max-width: 410px) {
  .navbar-default .navbar-brand {
    background-image: none;
    margin-left:60px !important;
  }
}

.navbar-inverse .navbar-brand {
  background-repeat:no-repeat;
}

.main-header {
  padding: 16px 0;
}





/* ---------------------------------------------------- */
/* Home Profile */
/* ---------------------------------------------------- */
/*.home-profile-img img {
  border:none;
  box-shadow:none;
  margin-top: 0px;
}*/

/*.profile-header h2 {
    font-size:1.2em;
}*/


.head-title {
  font-size: 3.5em;
}

@media (max-height: 768px) {
    .head-full-logo {
        display: block;
    }
}




/*-------------------------------------------------------------------*/
/* Home Full */
/*-------------------------------------------------------------------*/

#header-full
{
  background-image: url("../../Content_Custom/img/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 15%;

}

.header-full-title {
  background-image: url("../../Content_Custom/img/logo_header.png");
}


.title-logo, .title-logo.title-logo-login  {
  background-image: url("../../Content_Custom/img/logo_login.png");
}


/*-------------------------------------------------------------------*/
/* Footer Widget */
/*-------------------------------------------------------------------*/
.footer-widget-title {
  font-family: "Nanum Gothic", "Malgun Gothic", Arial;
  font-size: 1.5em;
}

h3.footer-widget-title {
    margin-bottom: 10px;
}





/*-------------------------------------------------------------------*/
/* Gallery */
/*-------------------------------------------------------------------*/

.tag-list h3 {
    font-size: 1.4em;
}

.tag-list a {
    cursor: pointer;
}


.ec-filters-menu.tag-list h3 {
    font-size: 1.4em;
}



.portfolio-menu .sidebar-nav {
  border-left: solid 0px;
}

.portfolio-menu.category-menu .sidebar-nav {
  border-top: solid 0px;
}

.portfolio-menu.category-menu h4 {
    border-bottom: solid 0px;
    padding-left: 15px;
    cursor: pointer;
}

.portfolio-menu.category-menu h4 > i {
    font-size: 1.1em;
}


.portfolio-menu.category-menu h4 > a {

}

.portfolio-menu.category-menu a {
    cursor: pointer;
}
  

.profile-overlay.share-button-group {
    margin-top:10px;
    margin-left:0;
    margin-right:0;
    text-align:center;
    /*background-color:rgba(255, 255, 255, 0.5);*/
    display:inline-block;
}


.profile-overlay.center {
    text-align:center;
}



/*-------------------------------------------------------------------*/
/* My Page */
/*-------------------------------------------------------------------*/
.side-list-menu .sidebar-nav li a {
    /* display: block; */
    /* padding: 5px 15px; */
    color: #333;
    text-decoration: none;
    border:none;
    background-color:transparent;
    padding:0px;
    font-size:1.1em;

}

.ec-filters-menu ul li {
    font-size: 1em;
}

.ec-filters-menu ul li a.active {
    color:black;
    font-weight:bold;
}


/*-------------------------------------------------------------------*/
/* Profile Card */
/*-------------------------------------------------------------------*/

.panel.panel-card.medium-small {
  height: 201px;
}

.panel.panel-card.medium-small .panel-heading {
  height: 100px;
}

.panel.panel-card.medium-small .panel-body {
  padding-top: 34px;
  padding-bottom: 14px;
}

.panel.panel-card.medium-small .panel-header {
  margin: 6px 0 2px 0;
}

.panel.panel-card.medium-small .panel-header {
    font-size: 1.15em;
}

.panel.panel-card.medium-small:hover .panel-heading {
  height: 50px;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
}

.panel.panel-card.medium-small:hover .panel-body {
  padding-top: 20px;
  -webkit-transition: padding 400ms ease-in-out;
  transition: padding 400ms ease-in-out;
}

.panel.panel-card.medium-small .panel-figure {
  width: 60px;
  height: 60px;
}





/*-------------------------------------------------------------------*/
/* Components */
/*-------------------------------------------------------------------*/

.context-menu.dropdown > a {
    border-bottom: inherit;
    margin: inherit;
}

.context-menu.dropdown.open > a,
.context-menu.dropdown.open > a:focus,
.context-menu.dropdown.open > a:active {
    border-bottom:  inherit;
}

.context-menu.dropdown > a:after,
.context-menu.dropdown-submenu > a:after {
    top: inherit;
    right: inherit;
    font-size: inherit;
    content: none;
    position: inherit;
    font-weight: inherit;
    display: inherit;
    font-family: inherit;
}
